body, input, textarea {
    font-family: "Montserrat";
}

body {
    margin: 0px;
    min-width: 1280px;
    font-family: "Montserrat";
}

.enter-login{
    display: block;
    margin-bottom: 30px;
	padding: 15px 10px;
    width: max-content;
    height: min-content;
	border-radius: 20px;
	text-decoration: none;
    font-size: 40px;
	font-weight: 500;
	color: #101010;
	text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
	border-radius: 20px;
}

.info-mezex{
    margin-top: 35px;
    color: #000;
    font-size: 32px;
}

::placeholder{
    color: #101010;
}

form {
    display: grid;
    margin-top: 50vh;
    grid-area: 1 / 2 / 2 / 2;
    align-self: center;
	padding:20px;
	width: calc(100% - 55px);
	height: min-content;
	overflow:hidden;
	border-radius:20px;

}

form input {
	margin:10px 0;
	padding:5px 2px;
	width:21.3vw;
    height: 3.7vh;
	outline:none;
    font-size: 20px;
	border:3px solid #40a15d;
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;

}

.form_field{
    display: grid;
    margin-top: 5px;
    color: #000;
    justify-content: center;
}

.container-login{
    display: grid;
    grid-template-columns: 62.5vw 37.5vw; 
    grid-template-rows: 50vh ;
    color: #40a15d;
    flex-basis: 0;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
}

.custom-gif {
    width: 62.5vw;
    height: 49vh;
    margin-left: 5px;
    margin-top: 35px;
    border: 1px solid #000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button[type=submit] {
    color: #ffffff;
    margin-top: 40px;
    width:21.3vw;
    height: 4.6vh;
	outline:none;
    font-size: 20px;
    font-family: "Montserrat";
	border:1px solid #bbb;
	border-radius:5px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
    background-color: #40a15d ;
}

.butsubmit {
	display: inline-block;
	padding: 15px 10px;
	margin-top: 25px;
    margin-left: 110px;
    width: 300px;
	border-radius: 0.12em;
	text-decoration: none;
	font-family: "Montserrat";
    font-size: 25px;
	font-weight: 200;
	color: #101010;
    border:1px solid #bbb;
	text-align: center;
	position: relative;
	border-radius: 20px;
    background-image: linear-gradient(rgb(112, 62, 5), rgb(179, 140, 13))
}
  
.vertical-line {
    grid-area: 1 / 2 / 2 / 2;
    width: 3px;
    height: 100vh;
    margin-left: 15px;
    background-color: #40a15d;
    transform: rotate(180deg);
}