<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mezix</title>

    <link rel="stylesheet" href="/static/invest/css/reset.css">
    <link rel="stylesheet" href="/static/invest/css/third.css">
</head>

<body>
<header class = header>
    <div class="icon_group">
        <div class="container-header-content-applications">
            <img  class="icon" src="/static/invest/img/mezex_logo_white.png">
            <a href ="url '' ">
                <img class="icon" src="/static/invest/img/123.jpg" alt="home">
            </a>
            <a href ="url '' ">
                <img class="icon" src="/static/invest/img/123.jpg" alt="offers">
            </a>
        </div>
    </div>

    <div class="fio_logout_block">
        <div class="fio">Popov misha</div>
        {% if user.is_authenticated %}
            <a href ="url 'logout' ">
                <button type="button" class="button-out">
                    <img src="/static/invest/img/button_out.webp" alt="logout" class="logout_icon">
                </button>
            </a>
        {% endif %}
    </div>
</header>

<main class="main" >
    <div class="main_container">
        <h1 class="main_title">Предложения</h1>
        <div class="cards_container">

            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте очень много разной информации об объекте. этот текст нужен чтобы показать изменение размера контейнеров в зависимости от количества текста в нём</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>
            <div class="card">
                <div class="card_header">
                    <div class="author_name">vasua vlagny</div>
                    <div class="card_status card_status--rejected">Отказано</div>
                </div>
                <div class="card_info"> рандомная информация об объекте</div>
                <div class="card_bottom">
                    <div class="summ_title">Сумма</div>
                    <div>300000</div>
                </div>
            </div>


        </div>
    </div>
</main>
</body>