{% load static %}
<!DOCTYPE html>
<html lang="ru">


<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мезекс инвестиции</title>

    <script src={% static 'invest/js/view.js' %}></script>

    <link rel="shortcut icon" href= {% static 'invest/img/mezex_logo.png' %} type="image/png">

	<link rel="stylesheet" href={% static 'invest/css/offers_create.css' %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>


<body>

    <div class="container-overlay">
        <div class="container-all">
            
            <div class="window"></div>


            <div class="container-header">
                <div class="container-header-content">

                    <div class="container-header-content-logo">
                        <img src={% static 'invest/img/mezex_logo_white.png' %} class="pic-logo">
                    </div>

                    <div class="container-header-content-applications">
                        <a href ="{% url 'home' %}">
                            <img src={% static 'invest/img/applic_pas.png' %} class="pic-bag">
                        </a>
                    </div>

                    <div class="container-header-content-applications container-header-content-offers">
                        <a href ="{% url 'offers' %}">
                            <img src={% static 'invest/img/offers_act.png' %} class="pic-bag pic-bag2">
                        </a>
                    </div>

                    <div class="container-header-content-fio">

                        <div class="container-header-content-create">
                            <a href ="{% url 'create' %}">
                                <img src={% static 'invest/img/create_pas.png' %} class="pic-create">
                            </a>
                        </div>

                        <div class="container-header-content-fio-fio">{{ NameOfInvestor  }}</div>

                        {% if user.is_authenticated %}   
                            <div class ="container-header-content-fio-out">
                                <a href ="{% url 'logout' %}"><button type="button" class="button-out">
                                <img src= {% static 'invest/img/button_outs.png' %} class="header-button-out-icon">
                                </button>
                                </a>
                            </div>
                        {% endif %}

                    </div>
                    
                </div>
            </div>

            <div class="window_applications">

            <div class="layout_container-content">

                <div class="section-container-applications">
                        <div class="text-applications">Предложения</div>

                    <div class="grid-container">
                        
                        <div class="box_for_sort">
                            <img src= {% static 'invest/img/green-triangle.png'%} class="arrow_for_sort">
                            <select id="dnd" onclick="get_id_sort(event)" class="big_sort_choise">
                                <option id="0" >Сортировка предложений</option>
                                <option id="1" >Только на рассмотрении</option>
                                <option id="2" >Только одобрено</option>
                                <option id="3" >Только отказано</option>
                            </select>
                        </div>
                        <div class="flex-container">
                        
                            {% for info in infos %}
                                 

                                {% if info.status == 'Одобрена' %}
                                    <div onclick="offers(event)" class="filterDiv odob flex-item" id="{{ info.id }}">
                                        <a href = "{% url 'view_files' %}" target="_blank" style="text-decoration: none; color: black; height: 292px;"> 
                                        <div id="{{ info.id }}" class="text-fio">{{info.FML}}</div>
                                        <div id="{{ info.id }}" class="text-status"><img id="{{ info.id }}" src= {% static 'invest/img/green_dot.png' %} class="pic-status">Одобрено</div>
                                        <div id="{{ info.id }}" class="green-line"></div>
                                {% endif %}

                                {% if info.status == 'Ожидает ответа' %}
                                    <div onclick="offers(event)" class="filterDiv time flex-item" id="{{ info.id }}">
                                        <a href = "{% url 'view_files' %}" target="_blank" style="text-decoration: none; color: black; height: 292px;"> 
                                        <div id="{{ info.id }}" class="text-fio">{{info.FML}}</div>
                                        <div id="{{ info.id }}" class="text-status"><img id="{{ info.id }}" src= {% static 'invest/img/yellow_dot.png' %} class="pic-status">Ожидает ответа</div>
                                        <div id="{{ info.id }}" class="green-line"></div>
                                {% endif %}

                                {% if info.status == 'Отказано' %}
                                    <div onclick="offers(event)" class="filterDiv otkaz flex-item" id="{{ info.id }}">
                                        <a href = "{% url 'view_files' %}" target="_blank" style="text-decoration: none; color: black;  height: 292px;"> 
                                        <div id="{{ info.id }}" class="text-fio">{{info.FML}}</div>
                                        <div id="{{ info.id }}" class="text-status"><img id="{{ info.id }}" src= {% static 'invest/img/red_dot.png' %} class="pic-status">Отказано</div>
                                        <div id="{{ info.id }}" class="green-line"></div>
                                {% endif %}
                                
                                <div id="{{ info.id }}" class="block-type">
                                    <div id="{{ info.id }}" class="text-type">Тип актива: <span id="{{ info.id }}" class="text-type-view-more">{{ info.TypeActiv }}</span></div>
                                    <div id="{{ info.id }}" class="text-type">Вид актива: <span id="{{ info.id }}" class="text-type-view-more">{{ info.ViewActiv }}</span></div>
                                    <div id="{{ info.id }}" class="text-type">Ставка: <span id="{{ info.id }}" class="text-type-view-more">{{ info.stavka }}</span>%</div>
                                    <div id="{{ info.id }}" class="text-type">Срок: <span id="{{ info.id }}" class="text-type-view-more">{{ info.srok }}</span> дней</div>
                                    <div id="{{ info.id }}" class="text-type">Специальные условия: <span id="{{ info.id }}" class="text-type-view-more">{{ info.special }}</span></div>
                                </div>
                                
                                
                                <div id="{{ info.id }}" class="green-line green-line-down"></div>
                                <div id="{{ info.id }}" class="block-sum">
                                    <div id="{{ info.id }}" class="text-sum">Сумма: <span id="{{ info.id }}" class="text-sum-digits">{{ info.sum }} руб.</span></div>
                                </div>
                            </a> 
                                </div>
                                
                            {% endfor %}   
                            
                            
                        </div>
                    
                    </div>

                </div>

            </div>
            </div>

        </div>

    </div>


    <script src={% static 'invest/js/script.js' %}></script>
</body>