{% load static %}
<!DOCTYPE html>
<html lang="ru">


<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мезекс инвестиции</title>

    <script src={% static 'invest/js/create.js' %}></script>

    <link rel="shortcut icon" href= {% static 'invest/img/mezex_logo.png' %} type="image/png">

	<link rel="stylesheet" href={% static 'invest/css/offers_create.css' %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>


<body>

    <div class="container-overlay">
        <div class="container-all">
            
            <div class="window"></div>


            <div class="container-header">
                <div class="container-header-content">

                    <div class="container-header-content-logo">
                        <img src={% static 'invest/img/mezex_logo_white.png' %} class="pic-logo">
                    </div>

                    <div class="container-header-content-applications">
                        <a href ="{% url 'home' %}">
                            <img src={% static 'invest/img/applic_pas.png' %} class="pic-bag">
                        </a>
                    </div>

                    <div class="container-header-content-applications container-header-content-offers">
                        <a href ="{% url 'offers' %}">
                            <img src={% static 'invest/img/offers_pas.png' %} class="pic-bag pic-bag2">
                        </a>
                    </div>

                    <div class="container-header-content-fio">

                        <div class="container-header-content-create">
                            <a href ="{% url 'create' %}">
                                <img src={% static 'invest/img/create_act.png' %} class="pic-create">
                            </a>
                        </div>

                        <div class="container-header-content-fio-fio">{{ NameOfInvestor }}</div>

                        {% if user.is_authenticated %}   
                            <div class ="container-header-content-fio-out">
                                <a href ="{% url 'logout' %}"><button type="button" class="button-out">
                                <img src= {% static 'invest/img/button_outs.png' %} class="header-button-out-icon">
                                </button>
                                </a>
                            </div>
                        {% endif %}

                    </div>
                    
                </div>
            </div>

            <div class="window_applications">

            <div class="layout_container-content">

                <div class="section-container-applications">
                    <div class="text-applications">Форма запроса заявки</div>





                        <div class="container_all_create">
                            <div class="container_button_create">
                                    <button onclick="create_new_applic()" class="button_create">Создать новую заявку</button>
                            </div>

                            <div class="flex-container-create">
                                {% for info in infos %}
                                <div class="flex-item-create" name = 'id_inv' id="{{ info.id }}">

                                    <div class="container_up_create">
                                    
                                        <div class="text-fio-create">Заяка № {{ info.id }}</div>
                                    </div>

                                    <div class="green-line"></div>
                               
                                    <div class="block_text">
                        
                                        <div class="text_main_create">Тип продукта: <div class="text_all_create">{{info.FinProduct}}</div></div>
                                        <div class="text_main_create">Тип актива: <div class="text_all_create">{{info.TypeActiv}}</div></div>
                                        <div class="text_main_create">Вид Клиента: <div class="text_all_create">{{info.ViewActiv}}</div></div>
                                        <div class="text_main_create">Тип Клиента: <div class="text_all_create">{{info.ViewClient}}</div></div>
                                        <div class="text_main_create">Максимальная сумма: <div class="text_all_create">{{info.max_sum}}</div></div>
                                        <div class="text_main_create">Минимальная сумма: <div class="text_all_create">{{info.min_sum}}</div></div>
                                        <div class="text_main_create">Максимальный срок: <div class="text_all_create">{{info.max_term}}</div></div>
                                        <div class="text_main_create">Минимальный срок: <div class="text_all_create">{{info.min_term}}</div></div>
                                    </div>
    
                                    <div class="block_but_delete">
                                        <a href ="{% url 'CreateDelete' info.id %}">
                                        <button id='{{ info.id }}' onclick="delete_create(event)" class ="button_delete_little">Удалить</button>
                                        </a>
                                    </div>
                                        
                                </div>
                                {% endfor %}
                            
                                        
                                


                            </div>
                        </div>   






                    <div class="main_body_create">
                        <form action="{% url 'NewRequest' %}" method="POST">
                            {% csrf_token %}
                        <div class="bold_text">Данные продукта</div>
                        <div class="field_for_fill">
                            <div class="regular_small_text">Тип продукта:</div>
                            <div class="box_for_select">
                                <img src= {% static 'invest/img/green-triangle.png'%} class="arrow_for_select">
                                <div class="small_green_vertical_line"></div>
                                <select class="big_input_choise" name='FinProduct'>
                                    <option input value ="1">Крутой продукт</option>
                                    <option input value ="2">Средний продукт</option>
                                    <option input value ="3">Инта v2.0</option>
                                </select>
                            </div>
                        </div>


                        <div class="bold_text">Данные актива</div>
                        <div class="field_for_fill">
                            <div class="regular_small_text">Тип актива:</div>
                            <div class="box_for_select">
                                <img src= {% static 'invest/img/green-triangle.png'%} class="arrow_for_select">
                                <div class="small_green_vertical_line"></div>
                                <select class="big_input_choise">
                                    <option></option>
                                    <option>Первый</option>
                                    <option>Второй</option>
                                    <option>Третий</option>
                                </select>
                            </div>
                        </div>


                        <div class="bold_text">Личность клиента</div>
                        <div class="field_for_fill">
                            <div class="regular_small_text">Тип клиента:</div>
                            <div class="box_for_select">
                                <img src= {% static 'invest/img/green-triangle.png'%} class="arrow_for_select">
                                <div class="small_green_vertical_line"></div>
                                <select class="big_input_choise">
                                    <option></option>
                                    <option>Физическое лицо</option>
                                    <option>Юридическое лицо</option>
                                </select>
                            </div>
                        </div>

                        <div class="bold_text">Параметры</div>
                        <div class="field_for_fill2">
                            <div class="regular_text">Минимальная сумма:</div>
                            <input class="small_input" type="number"  name="" spellcheck="false" required>
                            <div class="just_bold">руб.</div>
                        </div>
                        <div class="field_for_fill2">
                            <div class="regular_text">Максимальная сумма:</div>
                            <input class="small_input" type="number"  name="" spellcheck="false" required>
                            <div class="just_bold">руб.</div>
                        </div>
                        <div class="field_for_fill2">
                            <div class="summ">Срок:</div>
                            <input class="big_input" type="date"  name="" spellcheck="false" required>
                        </div>
                        <div class="box_for_buttons">
                            <input  onclick="cansel_create_applic()" type="submit" class="button_decline" value="Отменить" />
                            <input  onclick="send_create_applic()" type="submit" class="button_accept" value="Отправить" />
                        </div>

                        </form>
                    </div>





                </div>
                    
            </div>
            </div>

        </div>
    </div>



</body>