{% load static %}
<!DOCTYPE html>
<html lang="ru">


<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мезекс инвестиции</title>

    <script src={% static 'invest/js/script.js' %}></script>

    <link rel="shortcut icon" href= {% static 'invest/img/mezex_logo.png' %} type="image/png">

	<link rel="stylesheet" href={% static 'invest/css/index.css' %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>


<body>

    <div class="container-overlay">
        <div class="container-all">
            
            <div class="window"></div>


            <div class="container-header">
                <div class="container-header-content">

                    <div class="container-header-content-logo">
                        <img src={% static 'invest/img/mezex_logo_white.png' %} class="pic-logo">
                    </div>

                    <div class="container-header-content-applications">
                        <a href ="{% url 'home' %}">
                            <img src={% static 'invest/img/applic.png' %} class="pic-bag">
                        </a>
                    </div>

                    <div class="container-header-content-applications container-header-content-offers">
                        <a href ="{% url 'offers' %}">
                            <img src={% static 'invest/img/offers.png' %} class="pic-bag pic-bag2">
                        </a>
                    </div>

                    <div class="container-header-content-fio">
                        
                        <div class="container-header-content-create">
                            <a href ="{% url 'create' %}">
                                <img src={% static 'invest/img/applic.png' %} class="pic-create">
                            </a>
                        </div>

                        <div class="container-header-content-fio-fio">{{ NameOfInvestor }}</div>

                        {% if user.is_authenticated %}   
                            <div class ="container-header-content-fio-out">
                                <a href ="{% url 'logout' %}"><button type="button" class="button-out">
                                <img src= {% static 'invest/img/button_out.png' %} class="header-button-out-icon">
                                </button>
                                
                                </a>
                            </div>
                        {% endif %}

                    </div>
                    
                </div>
            </div>

            <div class="window_applications">

            <div class="layout_container-content">

                <div class="section-container-applications">
                        <div class="block-applications">
                            <div class="text-applications">Заявки</div>
                            
                                <button onclick="opense()" id="button-block-applications">
                                <img src= {% static 'invest/img/green-triangle.png'%} id="strelka-vlevo">
                                </button>
                            
                        </div>

                        <div id="popup">

                            <div class="popup_information">

                                <div class="text-extra-info-main">Лица/ФССП:
                                    <div class="container-extra-info">
                                        <img src= {% static 'invest/img/pic-violation.jpeg'%} class="pic-violation">
                                        <div class="text-extra-info-all">Судебные приставы</div>
                                    </div>

                                    <div class="container-extra-info">
                                        <img src= {% static 'invest/img/pic-no-violation.jpeg'%} class="pic-violation">
                                        <div class="text-extra-info-all">Банкротство</div>
                                    </div>
                                </div>

                                <div class="text-extra-info-main">Объект: недвижимость:
                                    <div class="container-extra-info">
                                        <img src= {% static 'invest/img/pic-no-violation.jpeg'%} class="pic-violation">
                                        <div class="text-extra-info-all">Залог</div>
                                    </div>

                                    <div class="container-extra-info">
                                        <img src= {% static 'invest/img/pic-violation.jpeg'%} class="pic-violation">
                                        <div class="text-extra-info-all">Обременение</div>
                                    </div>
                                </div>

                                <div class="text-extra-info-main">Основные параметры:
                                    <div class="container-extra-info">
                                        <img src= {% static 'invest/img/pic-no-violation.jpeg'%} class="pic-violation">
                                        <div class="text-extra-info-all">Рыночная цена: 2 450 000 руб.</div>
                                    </div>

                                    <div class="container-extra-info">
                                        <img src= {% static 'invest/img/pic-no-violation.jpeg'%} class="pic-violation">
                                        <div class="text-extra-info-all">Покрытие: </div>
                                    </div>
                                </div>

                                

                            </div>
        
                            <div class="popup_buttons">
                                <button class="button_for_information">Подробный отчёт</button>
                                <button class="button_for_information">Дополнительная информация</button>
                                <button class="button_accept">Предложить</button>
                                <button class="button_decline">Отказаться</button>
                            </div>
        
                        </div>

                    <table cellspacing="0"  class="table-ebat">
                    
                        <thead class="table-head">

                            <tr  class="th-white">
                                <th class="th-all th-status"><div class="green-triangle">Статус заявки<img src= {% static 'invest/img/green-triangle.png'%} class="sort-by-triangle"></div></th>
                                <th class="th-all th-fio"><div class="green-triangle">ФИО<img src= {% static 'invest/img/green-triangle.png'%} class="sort-by-triangle"></div></th>
                                <th class="th-all th-type"><div class="green-triangle">Тип актива<img src= {% static 'invest/img/green-triangle.png'%} class="sort-by-triangle"></div></th>
                                <th class="th-all th-view"><div class="green-triangle">Вид актива<img src= {% static 'invest/img/green-triangle.png'%} class="sort-by-triangle"></div></th>
                                <th class="th-all th-sum"><div class="green-triangle">Сумма<img src= {% static 'invest/img/green-triangle.png'%} class="sort-by-triangle"></div></th>
                                <th class="th-all th-name"><div class="green-triangle">Наименование<img src= {% static 'invest/img/green-triangle.png'%} class="sort-by-triangle"></div></th>
                                <th class="th-all th-coverage"><div class="green-triangle">Покрытие<img src= {% static 'invest/img/green-triangle.png'%} class="sort-by-triangle"></div></th>
                            </tr>

                        </thead>

                        <tbody class="tbody">
                            
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}
                            {% for info in infos %}
                            <tr class="tr-white">
                                <td class="td-all td-status">{{ info.status }}</td>
                                <td class="td-all td-fio">{{ info.FML }}</td>
                                <td class="td-all td-type">{{  info.TypeActiv }}</td>
                                <td class="td-all td-view">{{ info.ViewActiv }}</td>
                                <td class="td-all td-sum">{{ info.sum }}руб.</td>
                                <td class="td-all td-name">{{ info.name }}</td>
                                <td class="td-all td-coverage">Покрытие</td>
                            </tr>
                            {% endfor %}

                            
                            
                        </tbody>

                    </table>

                </div>

            </div>
            </div>



        </div>
    </div>



</body>
