{% load static %}
<!DOCTYPE html>
<html lang="ru">


<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Мезекс инвестиции</title>

    <link rel="shortcut icon" href={% static 'invest/img/mezex_logo.png' %} type="image/png">

	<link rel="stylesheet" href={% static 'invest/css/first.css' %}>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>


<body>
    <div class="container-overlay">
    <div class = "container-all">
        
        
        <div class="container-row">
        <img src={% static 'invest/img/mezex.png' %} class="pic-logo">

        <form action="" method="post" class="form">
            {% block content %}
            {% csrf_token %}
            <div class="text-MezEx"><span class="green-MezEx">MezEx</span> - smart сервис
            <br>для получения финансирования</br>
            и инвестиционного дохода

            </div>

            <div class="form_field">
                <input type="username" placeholder="Логин" name="username" spellcheck="false"  required >
            </div>

            <div class="form_field">

                <input type="password" placeholder="Пароль" name="password" spellcheck="false" required >
            </div>

            {% if form.errors %}
                <div class="text-error">Логин или пароль не подходит.</div>
            {% endif %}

            <button type="submit">Войти как инвестор</button>
        </form>
            </div>
            {% endblock %}
        <div class="text-under">Инвестируйте в займы под залог имущества
            и получайте доход от 36% годовых! </div>
    </div>
    </div>
</body>
</html>