body, input, textarea {
    font-family: "Montserrat";
}

body {
    margin: 0px;
    font-family: "Montserrat";
}

.text-MezEx {
    display: block;
    text-align: right;
    margin-bottom: 160px;
    width: max-content;
    height: min-content;
	text-decoration: none;
    font-size: 38px;
	font-weight: 500;
	color: #ffffff;
}

.text-under{
    color:#ffffff;
    font-size: 28px;
    align-self: center;
    margin-top: 80px;
}

.info-mezex {
    margin-top: 45px;
    color: #000;
    font-size: 32px;
    line-height: inherit;
}

::placeholder {
    color: #101010;
}

form {
    display: grid;
    margin-top: 100px;
    z-index: 1;
	width: min-content;
	height: 400px;
	border-radius:20px;

}

form input {
	padding:5px 2px;
    margin-bottom: 8px;
	width: 25.3vw;
    height: 4.4vh;
    width: 450px;
    height: 43px;
	outline:none;
    font-size: 20px;
}

.form_field {
    display: grid;
    margin-top: 5px;
    color: #000;
    justify-content: right;
}

.container-overlay{
    min-height: 100vh;
    background : #232138
}

.container-all {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
    flex-basis: 0;
    box-sizing: border-box;
}

.container-row{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 8%;
}

.pic-logo {
    z-index: 0;
    width: 35vw;
    height:70vh;
    margin-top: 10px;
    background: #232138;
    margin-top: 100px;
}

.pic-right-side {
    grid-area: 1 / 2 / 2 / 2;
    z-index: 0;
    position:absolute;
    bottom:0;
    right:0
}

button[type=submit] {
    cursor: pointer;
    color: #ffffff;
    margin-top: 23px;
    width:21.3vw;
    height: 5.6vh;
    width: 458px;
    height: 57px;
	outline:none;
    font-size: 25px;
    font-family: "Montserrat";
	border:0px solid #232138;
    position: relative;
    left: 65.85%;
    transform: translate(-50%, 0);
	display:inline-block;
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
    -webkit-transition:0.2s ease all;
	   -moz-transition:0.2s ease all;
	    -ms-transition:0.2s ease all;
	     -o-transition:0.2s ease all;
	        transition:0.2s ease all;
    background-color: #21CC4E ;
}

.butsubmit {
	display: inline-block;
	padding: 15px 10px;
	margin-top: 25px;
    margin-left: 110px;
    width: 300px;
	border-radius: 0.12em;
	text-decoration: none;
	font-family: "Montserrat";
    font-size: 25px;
	font-weight: 200;
	color: #101010;
    border:1px solid #bbb;
	text-align: center;
	position: relative;
	border-radius: 20px;
    background-image: linear-gradient(rgb(112, 62, 5), rgb(179, 140, 13))
}
  
.vertical-line{
    grid-area: 1 / 2 / 2 / 2;
    width: 3px;
    height: 100vh;
    margin-left: 15px;
    background-color: #40a15d;
    transform: rotate(180deg);
}

.text1 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 2%;
}

.text2 {
    font-size: 22px;
    text-align: center;
    line-height: 1.2;
}

.green-MezEx{
    color: #21CC4E;
    font-size: 42px;
}

ul {
    text-align: center;
    list-style-position: inside;
}

@media screen and (max-height: 900px){
    .text-under{
        margin-top: 50px;
    }
    .text-MezEx{
        margin-bottom: 120px;
    }
}

@media screen and (max-height: 768px){
    .text-MezEx{
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 1430px){
    .text-under{
        font-size: 24px; 
    }
}