:root{
    --black: #101010;
    --white: #ffffff;
    --blue: #232138;
    --green: #21CC4E;
    --light-green:#40a15d;
    --orange: #F85D32FF;
    --red:  #9B1D20FF;
}
.body{
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: block;
    overflow-x: hidden;
    box-sizing: border-box;
}

.header{
    background-color: var(--blue);
    width: 100%;
    height: 60px;
    color: var(--white);
    top: 0;
    left:0;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    margin: 0 auto;
    padding-left: 30px;
}
.icon_group{
    display: flex;
    gap: 40px;
    align-items: flex-start;
}
.icon {
    width:48px;
    height:48px;
}
.fio_logout_block{
    display: flex;
    gap: 10px;
    padding-right: 60px;
    align-items: center;
}
.fio{
    display: flex;
    gap: 8px;
}
.logout_icon{
    width:16px;
    height:16px;
}
.button-out{
    cursor: pointer;
    align-items: center;
    display: flex;

    justify-content: center;
    width:24px;
    height:24px;
    border-radius: 50%;
    border-style:hidden;
}
.main_container{
    margin:0 30px;
    background-color: var(--white);
    border-radius: 6px;
    display: block;

}
.main {
  margin-top: 72px;
  background-color: var(--blue);
  min-height: calc(100vh - 72px);
}
.main_title {
    padding-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
}
.cards_container{
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 24px;
    padding: 32px;
}
.card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card_header{
    padding: 0.5rem;
    border-bottom: 1px solid var(--green);
}
.card_bottom{
    padding: 1rem;
    border-top: 1px solid var(--green);
    display: flex;
    justify-content: space-between;
}
.author_name{
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 1em;
}
.card_status{
    display: block;
    position: relative;
    padding-left: 12px;
}
.card_info {
    padding: 1rem;
    justify-self: flex-start;
}
.summ_title {
    font-weight: 700;
}


.card_status::before {
    content: '';
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 4px;
    height: 4px;
    transform: translateY(-100%);
    z-index: 10000;
}
.card_status--review::before {
    background-color: var(--orange);
}

.card_status--accepted::before {
    background-color: var(--green);
}

.card_status--rejected::before {
    background-color: var(--red);
}